<script id="mainContainerTemplate" type="text/x-handlebars-template">
  <div class="card" id="panel-\{{id}}">
    <div class="card-header">
        <b>\{{fileName}}</b>
        <div class="pull-right">
          <button type="button" class="close" aria-label="Close" id="close-\{{id}}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    <div class="card-block">
      <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-mode btn-table-mode btn-primary"><i class="fa fa-table"></i></button>
          <button type="button" class="btn btn-mode btn-chart-mode btn-secondary" chartType="line"><i class="fa fa-line-chart"></i></button>
          <button type="button" class="btn btn-mode btn-chart-mode btn-secondary" chartType="area"><i class="fa fa-area-chart"></i></button>
          <button type="button" class="btn btn-mode btn-chart-mode btn-secondary" chartType="bar"><i class="fa fa-bar-chart"></i></button>
          <button type="button" class="btn btn-mode btn-chart-mode btn-secondary" chartType="pie"><i class="fa fa-pie-chart"></i></button>
        </div>
      </div>
      <br />
      <div id="viewContainer-\{{id}}" class="viewContainer-id"></div>
    </div>
  </div>
</script>

<script id="chartTemplate" type="text/x-handlebars-template">
  <div id="chart-\{{id}}" />
</script>

<script id="alertTemplate" type="text/x-handlebars-template">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span id="errorMessage">\{{errorMessage}}</span>
  </div>
</script>

<script id="tableTemplate" type="text/x-handlebars-template">
  <table class="table">
      <thead>
        \{{#each headers}}
          <th>\{{.}}</th>
        \{{/each}}
      </thead>
      <tbody>
        \{{#each values}}
          <tr>
            \{{#each .}}
              <td>\{{.}}</td>
            \{{/each}}
          </tr>
        \{{/each}}
      </tbody>
  </table>
</script>

<script id="dashboardAddTemplate" type="text/x-handlebars-template">
  \{{#each files}}
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="fileName" value="\{{.}}">
        \{{.}}
      </label>
    </div>
  \{{/each}}
</script>

<script>
Dropzone.options.myAwesomeDropzone = {
  paramName: "file", // The name that will be used to transfer the file
  createImageThumbnails : false,
  acceptedFiles : ".csv",
  previewTemplate: document.querySelector('#previewTemplate').innerHTML,
  success: function(file) {
    location.href="/";
  },
  error: function(file,errorMessage){
    console.error("error message : ",errorMessage);
    var alertTemplate = Handlebars.compile($("#alertTemplate").html());
    $("#alertContainer").html(alertTemplate({errorMessage : errorMessage}));
  },
  dictInvalidFileType : "csv파일 형식 외에는 업로드하실 수 없습니다.",
  dictDefaultMessage : ""
};

//handlebars helpers
Handlebars.registerHelper('ifCond', function(v1, v2, options) {
  if(v1 === v2) {
    return options.fn(this);
  }
  return options.inverse(this);
});
</script>
